{% extends "base.html" %}
{% block content %}
<h2>Add Expense</h2>
<form method="post" class="form-group">
    <div class="mb-3">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="category">Category:</label>
        <select name="category" id="category" class="form-control" required>
            <option value="" disabled selected>Select a category</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

     <div class="mb-3">
        <label for="payment_method">Enter the payment method:</label>
        <select name="payment_method" id="payment_method" class="form-control" required>
            <option value="" disabled selected>Select a payment method</option>
            {% for subcategory in subcategories %}
            <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-warning mt-3">Add Expense</button>
</form>
{% endblock %}
