{% extends "base.html" %}
{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Welcome to the Expense Tracker</h1>
    <p class="lead mt-3 mb-5">Effortlessly manage your finances with ease and precision.</p>

    <div class="d-flex justify-content-center gap-3">
        <a href="/register" class="btn btn-primary btn-lg px-5">Register</a>
        <a href="/login" class="btn btn-success btn-lg px-5">Login</a>
    </div>
</div>
{% endblock %}